[safe]
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
	directory = /home/nxtwave/reactjs/coding-practices/moneyManager
